<div class="panel panel-primary" style="text-align: center">
    <div class="panel-heading">
        {{siniestros.length}} resultados para búsqueda "{{busqueda}}"
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="siniestros table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Año</th>
                    <th>Patente</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="siniestro in siniestros">
                    <td width="5%">{{siniestro.id}}</td>
                    <td width="20%">{{siniestro.marca}}</td>
                    <td width="20%">{{siniestro.modelo}}</td>
                    <td width="10%">{{siniestro.color}}</td>
                    <td width="10%">{{siniestro.ano}}</td>
                    <td width="20%">{{siniestro.patente}}</td>
                    <td align="right">
                        <a class="btn btn-primary" href="#/siniestro/{{siniestro.id}}" role="button">Ver</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
