<div class="panel panel-primary" style="text-align: center">
    <div class="panel-heading">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type=text class="form-control" id="exampleInputEmail2" placeholder="Criterio">
                <button type="submit" class="btn btn-default">Buscar</button>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Patente</th>
                    <th>Asegurado</th>
                    <th>Rut</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>12414</td>
                    <td>Toyota</td>
                    <td>Yaris</td>
                    <td>LJ-4123</td>
                    <td>Guillermo Paredes</td>
                    <td>15.231.532-3</td>
                    <td><a href="#siniestro">
                        <button class="btn btn-success btn-xs">Ver</button>
                    </a></td>
                </tr>
                <tr>
                    <td>93523</td>
                    <td>Alfa Romeo</td>
                    <td>Mito</td>
                    <td>CSJG-21</td>
                    <td>Cristobal Yañez</td>
                    <td>7.242.578-k</td>
                    <td><a href="#siniestro">
                        <button class="btn btn-success btn-xs">Ver</button>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
