<h1 class="page-header">
    Siniestro {{siniestro.id}}
    <div style="float: right;">
        <button class="btn btn-warning">+ Observación</button>
        <button class="btn btn-danger">+ Llamada Asegurado</button>
    </div>
</h1>

<div class="panel panel-default">
    <div class="panel-body" style="background-color: #F5F5F5">
        <table class="table table-bordered table-condensed" style="margin-bottom: 0; background-color:#FFF;">
            <tr>
                <td><b>Marca:</b> {{siniestro.marca}}</td>
                <td><b>Ano:</b> {{siniestro.ano}}</td>
                <td><b>Estado:</b> {{siniestro.estado}}</td>
            </tr>
            <tr>
                <td><b>Modelo:</b> {{siniestro.modelo}}</td>
                <td><b>Patente:</b> {{siniestro.patente}}</td>
                <td><b>Taller:</b> {{taller.nombre}}</td>
            </tr>
            <tr>
                <td><b>Color:</b> {{siniestro.color}}</td>
                <td><b>Asegurado:</b> {{siniestro.propietario}}</td>
                <td><b>Sucursal:</b>{{sucursal.nombre}}<a href="#" style="float: right">
                    <button class="btn btn-success btn-xs">Cambiar</button>
                </a></td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body" style="background-color: #D9EDF7">

        <table class="table table-bordered table-condensed" style="margin-bottom: 0; background-color:#FFF;">
            <tr>
                <td><img src="../images/camera.png"/>&nbsp;Dcto. Constancia Carabineros</td>
                <td><img src="../images/camera.png"/>&nbsp;Dcto. Padron Auto</td>
            </tr>
            <tr>
                <td><img src="../images/camera.png"/>&nbsp;Dcto. Licencia de Conducir</td>
                <td><img src="../images/camera.png"/>&nbsp;Dcto. Recibo de Conformidad</td>
            </tr>
        </table>

    </div>
</div>

<style scoped>
    .label{
        font-size: 14px;
    }
</style>

<h2 class="sub-header">Bitácora</h2>
<div ng-if="bitacora">
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th width="1" nowrap>Fecha</th>
            <th>Asunto</th>
            <th>Detalle</th>
            <th width="1">Hace</th>
        </tr>
        <tr ng-repeat="event in bitacora">
            <td nowrap>
                <small>{{event.date | prettyDate}}</small>
            </td>
            <td nowrap>
                <span ng-class="{'label label-warning':event.type=='observation','label label-danger':event.type=='call'}"><b>{{event.type | capitalize}}</b></span>
            </td>
            <td>{{event.detail}}</td>
            <td nowrap>{{event.date | fromNow}}</td>
        </tr>
    </table>
</div>
<div ng-if="!bitacora">No hay eventos a mostrar</div>
