

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img alt="Brand" src="/assets/images/logo.png"/>
        </a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Seguros - Dashboard</a>
        </div>
        <div class="navbar-text navbar-right">
            <a href="#" class="navbar-link">Juan Perez / Perfil</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/buscar">Buscar</a></li>
                <li class="nav nav-sidebar nav-divider"></li>
                <li class="active"><a href="/stat/siniestros">Siniestros</a></li>
                <li><a href="/stat/talleres">Talleres</a></li>
                <li><a href="/stat/liquidadores">Liquidadores</a></li>
                <li><a href="/stat/tandems">Tandems</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Costo Siniestros
                <div style="float: right; font-size: 12pt; ">
                    <a href="/stat/siniestros/general"><button class="btn btn-success btn-xs">general</button></a>
                    <a href="/stat/siniestros/talleres"><button class="btn btn-default btn-xs">talleres</button></a>
                    <a href="/stat/siniestros/liquidadores"><button class="btn btn-default btn-xs">liquidadores</button></a>
                </div>
            </h1>

            <div align="center">
                <h3>Costo Promedio Siniestros 2014</h3>
            <img src="/assets/images/stat_siniestros1.png"/>
            </div>

        </div>
    </div>
</div>

