<h1 class="page-header">Costo Siniestros
    <div style="float: right; font-size: 12pt; ">
        <a href="#stats">
            <button class="btn btn-success btn-xs">general</button>
        </a>
        <a href="#stats">
            <button class="btn btn-default btn-xs">talleres</button>
        </a>
        <a href="#stats">
            <button class="btn btn-default btn-xs">liquidadores</button>
        </a>
    </div>
</h1>

<div align="center">
    <h3>Costo Promedio Siniestros 2014</h3>
    <img src="../images/stat_siniestros1.png"/>
</div>
