<div class="ci-page-content">
    <div class="ci-page-bg-container"></div>
    <div class="ci-head-container">
        <div class="ci-head ci-wrapper-fullwidth">
            <div class="ci-default-header-wrap row">

                <div id="branding" role="banner" class="col-xs-12 col-sm-3 col-md-3"
                     style="margin: -10px 0 -15px -10px;">
                    <a href="#/menu/frutas" rel="home">
                        <img id="ci-sitelogo" src="images/logo-m.png" width="235" height="44" style="margin-bottom: 30px">
                    </a>
                    <span class="ci-clear"></span>
                </div>

                <div id="ci-original-menu" class="ci-stickymenu-content col-xs-12 col-sm-9 col-md-9"
                     style="visibility: visible;">

                    <div id="ci-mainmenu-navigation"
                         class="ci-mainmenu-navigation ci-default-header-nav" role="navigation">
                        <div class="menu-mainmenu-container">
                            <ul id="ci-mainmenu" class="menu">
                                <li class="menu-item"
                                    ng-repeat="section in sections">
                                    <a ng-href="#/menu/{{section}}"
                                       ng-class="{currentSection: section == currentSection}">{{section | ucfirst}}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#/recetas">Recetas</a>
                                </li>
                                <li class="menu-item">
                                    <a href="" ng-click="openHowItWorks()">¿Cómo Funciona?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span class="ci-clear"></span>
                </div>
            </div>

            <span class="ci-clear"></span>
        </div>
    </div>
    <div style="margin-top: -65px;">
        <div class="ci-content-wrapper-fullwidth ci-shop ci-template-sidebar-left">

            <style>
                .shopingcart .header{
                    background-color: #5C443A;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    padding: 4px;

                    line-height: 25px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    color:white !important;
                }
            </style>

            <div class="ci-grunge-bg-wrapper">
                <div class="ci-grunge-bg-head">
                    <div class="alert alert-info alert-dismissible hidden-md hidden-lg" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        Presiona sobre los productos para agregarlos al carro de compra.
                    </div>
                </div>

                <div class="ci-content-wrapper">
                    <div class="row">

                        <div class="col-md-9" style="padding: 0;overflow-y: auto; max-height: 900px;" ng-if="currentSection == 'cajas'">

                            <img src="images/header_cajas.jpg" style="padding:0 15px 15px 15px;">

                            <!--h4 style="padding-left:15px">Jugos Super Juice</h4-->

                            <div class="col-md-4" ng-repeat="group in vegetales | chunkBy: chunkSize">
                                <ul class="products grid">
                                    <li ng-repeat="veg in group" ng-if="veg.box">
                                        <div class="ci-product">
                                            <a ng-click="addToCart(veg)" style="cursor: pointer">
                                                <img width="240" height="240"
                                                     ng-src="images/boxes/{{veg.img}}.png"
                                                     class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                                     sizes="(max-width: 240px) 100vw, 240px"
                                                     style="margin-bottom:10px;">

                                                <div class="ci-product-meta" style="padding-bottom:0">
                                                    <div class="ci-producttitle-container">
                                                        <div class="ci-title-shop">
                                                            <h3 style="font-size: 12pt">{{veg.name}}</h3>
                                                            <div class="posted_in">
                                                                <a>{{veg.products.length}} productos</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ci-price ci-action-container">
                                                        <div class="ci-action-price-container">
                                                            <span class="price">
                                                                <span class="amount">{{veg.price | money}}</span>
                                                            </span>
                                                        </div>
                                                        <div class="ci-action-cartlink-container">
                                                        </div>
                                                    </div>
                                                    <span class="ci-clear"></span>
                                                </div>
                                            </a>
                                            <span class="ci-clear"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-9" ng-if="currentSection != 'cajas'">
                            <div class="col-md-4" ng-repeat="group in vegetales | chunkBy: chunkSize">
                                <ul>
                                    <li id="woocommerce_products-9" class="widget woocommerce widget_products"
                                        style="padding-bottom: 0; margin-bottom: -10px">
                                        <ul class="product_list_widget">
                                            <li ng-repeat="veg in group" ng-if="!veg.box"
                                                ng-click="addToCart(veg)"
                                                style="cursor: pointer">

                                                <div ng-mouseenter="setCurrentAdd(veg)"
                                                     ng-mouseleave="setCurrentAdd(null)"
                                                     class="visible-lg-block visible-md-block"
                                                     style="position:absolute; z-index: 1; width:100%;height:90px;"></div>

                                                <a>
                                                    <div class="ci-salesflsah-container ci-salesflsah-container-left"
                                                         ng-if="veg.price < veg.superPrice * 0.90"
                                                         data-toggle="tooltip" data-placement="top"
                                                         title="¡Este producto está {{100 - (veg.price | percent: veg.superPrice: true)}}% más barato que en supermercados!"
                                                         onmouseenter="$(this).tooltip('show')">
                                                        <div class="icon-sale-flash-left"></div>
                                                        <div class="onsale">-{{100 - (veg.price | percent: veg.superPrice: true)}}%
                                                        </div>
                                                    </div>

                                                    <div class="veg-thumb {{veg.img}}">
                                                        <div class="current-add visible-lg-block visible-md-block"
                                                             ng-show="isCurrentAdd(veg)">
                                                            <div class="current-add-text">
                                                                <span class="icon-cart"></span>
                                                                <br>
                                                                <span class="add">Agregar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{veg.name}}
                                                </a>
                                                <span class="from">{{veg.sub}}</span>
                                                <span class="amount">{{veg.price | money}}</span>
                                            </li>
                                            <div class="hidden-lg" style="height:10px;" ng-if="$index == 0 || $index == 1"></div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="shop-sidebar ci-sidebar col-xs-12 col-sm-12 col-md-3" style="border:1px solid red;">

                            <div class="shopingcart">

                                <div class="header" ng-if="cart.elems.length == 0">
                                    <span>Nada para comer</span>
                                </div>

                                <div class="header" ng-if="cart.elems.length > 0">
                                    <h1 style="">
                                        <span ng-if="cart.elems.length > 0" >Carro de compra</span>
                                    </h1>
                                </div>


                            </div>



                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>


                            <ul>
                                <li id="woocommerce_product_categories-2" style="padding-bottom: 0"
                                    class="widget woocommerce widget_product_categories">

                                    <div id="ci-cart-container" class="ci-cart-container hidden-xs hidden-sm" style="float: none;">
                                        <div class="ci-cart-button">
                                            <a href="" class="ci-cartlayer-btn cart-quickcontents"
                                               style="margin: 0; cursor: default; background-color: #5C443A !important;">

                                                <span class="icon-cart"></span>

                                                <span class="ci-cartbtn-quickcontent" style="width: 80%;" ng-if="cart.elems.length > 0">
                                                    <span style="_float:left">Carro de compra</span>
                                                    <!--span class="amount" style="float:right">{{cart.total | money}}</span-->
                                                </span>

                                                <span class="ci-cartbtn-quickcontent" style="width: 80%;"
                                                      ng-if="cart.elems.length == 0">
                                                    <span class="amount">Nada para comer</span>
                                                </span>

                                                <span class="ci-clear"></span>
                                            </a>
                                        </div>
                                    </div>

                                    <br ng-if="cart.elems.length > 0">

                                    <ul class="product-categories">
                                        <li ng-repeat="(section, elems) in cart.elems | groupBy: 'section'">
                                            {{section | ucfirst}}

                                            <ul class="children">
                                                <li class="cat-item"
                                                    ng-repeat="elem in elems">
                                                    <a href="" ng-click="removeFromCart(elem.item)">
                                                        <span class="icon-cross"></span></a>
                                                    {{elem.item.name}}
                                                            <span class="count">
                                                                <span class="post_count">{{pluralize(elem)}}</span>
                                                            </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <br>

                                    <img class="hidden-xs hidden-sm"
                                         src="images/hungry.gif" data-toggle="tooltip" data-placement="right" title="Miau"
                                         onmouseenter="$(this).tooltip('show')" ng-if="cart.elems.length == 0">

                                    <button id="checkoutBtn" class="button btn btn-block visible-md-block visible-lg-block visible-sm-block" type="button"
                                            ng-if="cart.elems.length > 0"
                                            style="margin-left: 0;margin-right: 0; background-color: #60B301 !important;"
                                            ng-click="openCheckout()">Comprar
                                    </button>

                                    <button id="checkoutBtn" class="button btn btn-block visible-xs-block" type="button"
                                            ng-if="cart.elems.length > 0"
                                            style="margin: 0 2vw 2vw 2vw;width: 96vw;"
                                            ng-click="openCheckout()">
                                        Comprar {{cart.elems.length || 0}} {{'producto' + (cart.elems.length > 1 ? 's' : '')}} por {{cart.total | money}}
                                        <span class="glyphicon glyphicon-shopping-cart" style="float:right; margin-top:6px;"></span>
                                    </button>
                                </li>

                                <li id="promise" style="margin-bottom:0; padding-bottom: 0; border-bottom:none"
                                    ng-if="cart.elems.length == 0"
                                    class="widget woocommerce widget_product_categories">
                                    <h3 class="widget-title">Nuestra Promesa</h3>

                                    <b>Calidad</b>
                                    <p>Obtenemos nuestros vegetales y especias de fuentes cercanas al productor, lo que garantiza su
                                        frescura y calidad superior.</p>

                                    <b>Precio</b>
                                    <p>Monitoreamos la oferta de supermercados y distribuidores para mantener siempre el mejor
                                        precio.</p>
                                </li>

                            </ul>
                            <span class="cai-clear"></span>
                        </div>
                    </div>
                </div>
                <div class="ci-grunge-bg-foot"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkoutModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" ng-switch on="checkoutState">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 ng-switch-when="pre-checkout">Ingresa tus datos para finalizar la compra</h4>
                <h4 ng-switch-when="in-progress">Enviando Pedido</h4>
                <h4 ng-switch-when="post-checkout">
                    <span ng-if="checkoutResult">Compra Exitosa</span>
                    <span ng-if="!checkoutResult">Ups!</span>
                </h4>
            </div>

            <div ng-switch on="checkoutState">
                <form ng-switch-when="pre-checkout" name="checkoutForm" class="css-form" novalidate>
                    <div class="modal-body" style="padding: 0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6" style="padding:15px;">
                                    <h4 style="margin:0 0 15px 0">
                                        <span class="glyphicon glyphicon-user"></span> Datos Personales</h4>

                                    <div class="form-group">
                                        <label for="fullname">Nombre Completo</label>
                                        <input type="text" class="form-control"
                                               id="fullname" name="fullname" ng-model="userData.fullname"
                                               placeholder="{{::randomFakePerson.name}}"
                                               required>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.fullname.$touched">
                                            <div ng-show="checkoutForm.fullname.$error.required">Debes ingresar tu nombre</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Correo Electrónico</label>
                                        <input type="email" class="form-control"
                                               id="email" name="email" ng-model="userData.email"
                                               placeholder="{{::randomFakePerson.email}}"
                                               required>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.email.$touched">
                                            <div ng-show="checkoutForm.email.$error.required">Acá confirmaremos tu pedido</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" class="form-control"
                                               id="phone" name="phone"
                                               ng-model="userData.phone"
                                               placeholder="92325178"
                                               required>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.phone.$touched">
                                            <div ng-show="checkoutForm.phone.$error.required">Para manteneros en contacto</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding:15px; background-color: #E8DFD7">
                                    <h4 style="margin:0 0 15px 0">
                                        <span class="glyphicon glyphicon-home"></span> Datos de Despacho</h4>

                                    <div class="form-group">
                                        <label for="street">Calle</label>
                                        <input type="text" class="form-control"
                                               id="street" name="street"
                                               ng-model="userData.street"
                                               placeholder="Hernando de Aguirre"
                                               required>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.street.$touched">
                                            <div ng-show="checkoutForm.street.$error.required">Acá despacharemos tu pedido</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="number">Número (+ dpto si corresponde)</label>
                                        <input type="text" class="form-control"
                                               id="number" name="number"
                                               ng-model="userData.number"
                                               placeholder="268 (dpto 801)"
                                               required>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.number.$touched">
                                            <div ng-show="checkoutForm.number.$error.required">Acá despacharemos tu pedido</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="commune">Comuna</label>
                                        <select class="form-control"
                                                id="commune" name="commune" ng-model="userData.commune"
                                                required>
                                            <option value="La Reina">La Reina</option>
                                            <option value="Las Condes">Las Condes</option>
                                            <!--option value="Lo Barnechea">Lo Barnechea</option-->
                                            <option value="Ñuñoa">Ñuñoa</option>
                                            <option value="Peñalolén">Peñalolén</option>
                                            <option value="Providencia">Providencia</option>
                                            <!--option value="Santiago">Santiago Centro</option-->
                                            <option value="Vitacura">Vitacura</option>
                                        </select>
                                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.commune.$touched">
                                            <div ng-show="checkoutForm.commune.$error.required">Debes ingresar tu comuna</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-left: 15px; padding: 5px;">
                        <label for="discountCode">Código Descuento (opcional)</label>
                        <input type="text" class="form-control" style="width: 100px"
                               id="discountCode" name="discountCode" ng-model="userData.discountCode"
                               placeholder="XTL83P">
                    </div>

                    <div class="form-group" style="margin-left: 15px; padding: 5px;">
                        <input type="checkbox"
                               id="conditions" name="conditions" ng-model="userData.conditions"
                               required>
                        <label for="conditions">&nbsp;Acepto las condiciones del servicio</label>
                        <div class="error" ng-show="checkoutForm.$submitted || checkoutForm.conditions.$touched">
                            <div ng-show="checkoutForm.conditions.$error.required">Debes aceptar las condiciones del servicio
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-default btn-success btn-block"
                                ng-click="checkout()">Terminar y Enviar Pedido
                        </button>
                    </div>
                </form>

                <div ng-switch-when="in-progress">
                    <div class="modal-body">
                        <p>Por favor espere un momento...</p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="post-checkout">
                    <div ng-if="checkoutResult">
                        <div class="modal-body">
                            Tu pedido fue enviado exitosamente. En breve nos comunicaremos contigo para confirmar tu compra.
                        </div>

                        <div class="modal-footer">
                            <button type="submit"
                                    class="btn btn-default btn-success btn-block"
                                    ng-click="closeCheckout()">OK
                            </button>
                        </div>
                    </div>
                    <div ng-if="!checkoutResult">
                        <div class="modal-body">
                            Ocurrió un error al enviar su pedido, por favor intente nuevamente.
                        </div>

                        <div class="modal-footer">
                            <button type="submit"
                                    class="btn btn-default btn-danger btn-block"
                                    ng-click="backToCheckout()">Reintentar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>